.header {
  background: var(--current-line);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }

  &__icons {
    display: flex;
    gap: 1.5rem;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}

.icon {
  cursor: pointer;
  position: relative;

  &::after {
    content: " ";
    background: #000;
    position: absolute;
  }
}
