.header {
  background: var(--current-line);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }

  &__icons {
    display: flex;
    gap: 1.5rem;

    &-container {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      padding: 0.5rem;
      background: transparent;
      outline: none;
      border: none;
      color: #fff;
      cursor: pointer;
      user-select: none;
      transition: 0.2s ease;

      &:hover {
        background-color: var(--bg);
        border-radius: 10px;
      }

      p {
        margin: 0;
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__iconMenu {
    background: transparent;
    border: none;
    outline: none;
    user-select: none;
    color: #fff;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background-color: var(--bg);
      border-radius: 10px;
      color: var(--yellow);
    }
  }
}

.icon {
  cursor: pointer;
  position: relative;

  &::after {
    content: " ";
    background: #000;
    position: absolute;
  }
}
