:root {
  margin: 0;
  padding: 0;
  font-size: 16px;

  /* Dracula Color Palette */
  --bg: #282a36;
  --current-line: #44475a;
  --selection: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --inconsolata: "Inconsolata", monospace;
  --jetbrains: "JetBrains Mono", monospace;
}

html {
  box-sizing: border-box;
  padding: 0;
}

#app {
  font-family: var(--jetbrains);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0.5rem 1rem;
}

body {
  background-color: var(--bg);
  color: var(--foreground);
  font-size: 1rem;
  overflow: hidden;

  @media (min-width: 600px) {
    font-size: 1.2rem;
  }
}

.commandList {
  list-style: none;
  padding: 0;

  &__item {
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;
    align-items: center;
    opacity: 0.9;
    color: var(--comment);
    font-size: 0.9rem;

    @media (min-width: 500px) {
      font-size: 1rem;
    }
  }
}

.command {
  display: flex;
  justify-content: flex-start;
  gap: 0.3rem;
  align-items: center;
  font-size: 0.9rem;

  @media (min-width: 500px) {
    font-size: 1rem;
  }

  &__user {
    color: var(--cyan);
  }

  &__input {
    display: inline-block;
    background: transparent;
    border: none;
    outline: none;
    color: var(--foreground);

    @media (min-width: 550px) {
      width: 400px;
    }
  }

  &__content {
    opacity: 0.8;

    &--error {
      color: var(--red);
    }
  }
}
